<h2>Committee Lookup</h2>

<form>
  <div class="form-group">
    <label for="committee">Committee</label>
    {{input value=committee id="committee"}}
  </div>

  <button class="btn btn-primary" {{action 'committeeLookup'}}>Submit</button>
</form>
