<header>
  <h2 id="title">Welcome to Legislation Lookup!</h2>
  <hr>
</header>

{{outlet}}

<footer>
  <div class="nav navbar-nav">
    <br>
    <hr>
    {{#link-to 'index'}}HOME{{/link-to}}
  </div>
</footer>
